<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <insert id="insert" parameterType="com.sky.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders (order_number, status, user_id, coach_id, address_book_id, order_mode, dispatch_type,
                             schedule_id, schedule_date, time_slot, consignee, phone, sex, address, amount,
                             pay_method, pay_status, submit_time, checkout_time, accept_time, service_start_time,
                             service_end_time, cancel_time, cancel_reason, rejection_reason, remark, train_record,
                             body_data, create_time, update_time)
        values (#{orderNumber}, #{status}, #{userId}, #{coachId}, #{addressBookId}, #{orderMode}, #{dispatchType},
                #{scheduleId}, #{scheduleDate}, #{timeSlot}, #{consignee}, #{phone}, #{sex}, #{address}, #{amount},
                #{payMethod}, #{payStatus}, #{submitTime}, #{checkoutTime}, #{acceptTime}, #{serviceStartTime},
                #{serviceEndTime}, #{cancelTime}, #{cancelReason}, #{rejectionReason}, #{remark}, #{trainRecord},
                #{bodyData}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="orderNumber != null and orderNumber != ''">
                order_number = #{orderNumber},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="coachId != null">
                coach_id = #{coachId},
            </if>
            <if test="orderMode != null">
                order_mode = #{orderMode},
            </if>
            <if test="dispatchType != null">
                dispatch_type = #{dispatchType},
            </if>
            <if test="scheduleId != null">
                schedule_id = #{scheduleId},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method = #{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time = #{checkoutTime},
            </if>
            <if test="acceptTime != null">
                accept_time = #{acceptTime},
            </if>
            <if test="serviceStartTime != null">
                service_start_time = #{serviceStartTime},
            </if>
            <if test="serviceEndTime != null">
                service_end_time = #{serviceEndTime},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime},
            </if>
            <if test="cancelReason != null and cancelReason != ''">
                cancel_reason = #{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason != ''">
                rejection_reason = #{rejectionReason},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="trainRecord != null and trainRecord != ''">
                train_record = #{trainRecord},
            </if>
            <if test="bodyData != null and bodyData != ''">
                body_data = #{bodyData},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null and number != ''">
                and order_number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="coachId != null">
                and coach_id = #{coachId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and submit_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and submit_time &lt;= #{endTime}
            </if>
        </where>
        order by submit_time desc
    </select>

    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount)
        from orders
        <where>
            <if test="begin != null">
                and submit_time &gt; #{begin}
            </if>
            <if test="end != null">
                and submit_time &lt; #{end}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id)
        from orders
        <where>
            <if test="begin != null">
                and submit_time &gt; #{begin}
            </if>
            <if test="end != null">
                and submit_time &lt; #{end}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="getSalesTop" resultType="com.sky.dto.GoodsSalesDTO">
        select od.name,sum(od.number) number
        from order_detail od ,orders o
        where od.order_id = o.id and o.status = 5
        <if test="begin != null">
            and o.submit_time &gt; #{begin}
        </if>
        <if test="end != null">
            and o.submit_time &lt; #{end}
        </if>
        group by od.name
        order by number desc
        limit 0,10
    </select>

</mapper>
